app-board {
    display: grid;
    width: 0;
}

#title {
    font-size: max(4vw, 10vh);
    text-decoration: underline;
    font-family: monospace;
    color: gray;
    padding-bottom: 0.2em;
    padding-top: 0;
    margin: 0;
}

#top-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

app-restart {
    padding-left: 2.3em;
}