table {
    table-layout: fixed;
    width: 75vmin;
    height: 75vmin;
}

#gameWon {
    position: absolute;
    align-self: center;
    justify-self: center;
}

@keyframes badMoveAnimation {
    from {background-color: red;}
    to {background-color: gray;}
}

.badMove {
    animation-name: badMoveAnimation;
    animation-duration: 1s;
}
td:hover {
    background-color: gray;
    color: white;
    opacity: 0.6;
}


td {
    width: 33.33%;
    height: 33.33%;
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
    color: gray;

}

table, td {
    border: 5px solid gray;
    border-collapse: collapse;
}