/* You can add global styles to this file, and also import other style files */


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    align-items: center;
}

#title {
    font-size: max(4vw, 10vh);
    text-decoration: underline;
    font-family: monospace;
    color: gray;
    padding-bottom: 0.2em;
    padding-top: 0;
    margin: 0;
}